@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  background-color: #00093c;

  font-family: 'Roboto Condensed', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 400;
  }
}

.wrapper {
  background-color: #fff;
  border-radius: 20px;
  margin: 50px 100px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;

    h1 {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 50px;
    }

    .sort {
      display: flex;
      gap: 10px;
      justify-content: space-between;
      align-items: center;

      .popup {
        z-index: 5;
        background-color: #fff;
        position: absolute;
        top: 110px;
        right: 100px;
        border: 1px solid black;
        height: 250px;
        width: 600px;


        &-content {
          display: flex;
          justify-content: space-between;
          margin: 0 30px;
        }

        &-grid {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 20px;
        }

        &-flex {
          gap: 10px;
          display: flex;
          flex-direction: column;
        }

        .section {
          padding: 0px 10px;

          input[type="checkbox"] {
            height: 20px;
            width: 20px;
          }

          input[type="range"] {
            width: 100%;
          }

          .item {
            display: flex;
            align-items: center;
            justify-content: flex-start;

          }
        }

      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 35px 10px;

    .card {
      display: flex;
      align-items: center;
      margin: 5px 70px;
      padding: 5px 5px;
      border-radius: 10px;
      border: 1px solid black;
      transition: all 0.2s ease-in-out;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

      .logo {
        display: flex;
        align-items: center;
        margin-right: 30px;

        &-icon {
          border-right: 2px solid black;
          padding-right: 5px;
        }

        h2 {
          border-right: 2px solid black;
          padding-right: 5px;
        }
      }

      .info {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        .stations {
          font-weight: 200 !important;
        }

        .start {
          justify-content: flex-start;
        }

        .end {
          justify-content: flex-end;
        }

        .item {

          display: flex;
          align-items: center;
          gap: 10px;

          .cars {
            display: flex;
            align-items: center;
          }
        }
      }

      &:hover {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.not-found {

  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  p {
    font-size: large;
    color: #5b5b5b;
  }

  img {
    width: 500px;
  }

}

h1,
h2,
h4,
h5,
p {
  margin: 5px;
}

.RD {
  background-color: #df6666;
}

.BL {
  background-color: #2697fd;
}

.YL {
  background-color: #fbf631;
}

.OR {
  background-color: #ffa656;
}

.GR {
  background-color: #3fbb48;
}

.SV {
  background-color: #bababa;
}

.RD-sh {
  accent-color: #df6666;
  box-shadow: 0 0 10px 10px #df6666;
}

.BL-sh {
  accent-color: #2697fd;
  box-shadow: 0 0 10px 10px #2697fd;
}

.YL-sh {
  accent-color: #fbf631;
  box-shadow: 0 0 10px 10px #fbf631;
}

.OR-sh {
  accent-color: #ffa656;
  box-shadow: 0 0 10px 10px #ffa656;
}

.GR-sh {
  accent-color: #3fbb48;
  box-shadow: 0 0 10px 10px #3fbb48;
}

.SV-sh {
  accent-color: #bababa;
  box-shadow: 0 0 10px 10px #bababa;
}

.WH-sh {
  accent-color: #f6f4f4;
  box-shadow: 0 0 10px 10px #f6f4f4;
}